$primary: rgb(96, 195, 254);
$primary-soft: rgba(96, 196, 254, 0.123);
$lightGray: #eee;
$muted: #999;
$navyBlue: rgb(11, 33, 44);
$fucia: rgb(167, 29, 104);
$orange: rgb(255, 82, 28);
$orange-soft: rgba(255, 81, 28, 0.164);
$lilac: rgb(139, 94, 184);
$lilac-soft: rgba(139, 94, 184, 0.1);
$softLilac: rgb(232, 234, 249);
$periwinkle: rgb(108, 123, 216);
$periwinkle-soft: rgba(108, 123, 216, 0.1);
$superMuted: #f8f9fa;
