$lightGray: #eee;
$muted: #999;
$superMuted: #f8f9fa;

$brown: rgb(176, 146, 83);
$brown-soft: rgba(176, 146, 83, 0.1);
$black: rgb(30, 30, 30);
$black-soft: rgba(30, 30, 30, 0.1);
$red: rgb(81, 30, 26);
$red-muted: rgba(81, 30, 26, 0.3);
$red-soft: rgba(81, 30, 26, 0.1);
$blue: rgb(10, 18, 45);
$blue-soft: rgba(10, 18, 45, 0.1);
$blue-muted: rgba(10, 18, 45, 0.3);

$primary: $brown;
$primary-soft: $brown-soft;
$navyBlue: $blue;

$fucia: $brown;
$orange: $blue-muted;
$orange-soft: $blue-soft;

$lilac: $brown;
$lilac-soft: $brown-soft;
$softLilac: $brown-soft;

$periwinkle: $blue-muted;
$periwinkle-soft: $blue-soft;
